 # `pandas`: Základní dotazy
Odkaz na lekci: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber

In [1]:
import pandas

Data si stáhni [zde](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/nacteni-dat/staty.json). Jsou ve formátu JSON, proto použijeme vhodnou metodu `read_json`:

In [6]:
staty = pandas.read_json('json/staty.json')
staty

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
0,Afghanistan,AF,AFG,Kabul,Asia,Southern Asia,27657145,652230.0,27.8
1,Åland Islands,AX,ALA,Mariehamn,Europe,Northern Europe,28875,1580.0,NaN
2,Albania,AL,ALB,Tirana,Europe,Southern Europe,2886026,28748.0,34.5
3,Algeria,DZ,DZA,Algiers,Africa,Northern Africa,40400000,2381741.0,35.3
4,American Samoa,AS,ASM,Pago Pago,Oceania,Polynesia,57100,199.0,NaN
...,...,...,...,...,...,...,...,...,...
245,Wallis and Futuna,WF,WLF,Mata-Utu,Oceania,Polynesia,11750,142.0,NaN
246,Western Sahara,EH,ESH,El Aaiún,Africa,Northern Africa,510713,266000.0,NaN
247,Yemen,YE,YEM,Sana'a,Asia,Western Asia,27478000,527968.0,37.7
248,Zambia,ZM,ZMB,Lusaka,Africa,Eastern Africa,15933883,752612.0,54.6
249,Zimbabwe,ZW,ZWE,Harare,Africa,Eastern Africa,14240168,390757.0,NaN

Ukážeme si, jak filtrovat řádky v tabulce na základě hodnot ve sloupcích. Například, které státy mají počet obyvatel menší než 1000?

In [3]:
print(staty["population"] < 10_000)

0      False
1      False
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Name: population, Length: 250, dtype: bool

In [4]:
staty[staty["population"] < 10_000]

,name,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
8,Antarctica,AQ,ATA,,Polar,,1000,14000000.00,NaN
30,Bouvet Island,BV,BVT,,,,0,49.00,NaN
32,British Indian Ocean Territory,IO,IOT,Diego Garcia,Africa,Eastern Africa,3000,60.00,NaN
33,United States Minor Outlying Islands,UM,UMI,,Americas,Northern America,300,NaN,NaN
49,Christmas Island,CX,CXR,Flying Fish Cove,Oceania,Australia and New Zealand,2072,135.00,NaN
50,Cocos (Keeling) Islands,CC,CCK,West Island,Oceania,Australia and New Zealand,550,14.00,NaN
73,Falkland Islands (Malvinas),FK,FLK,Stanley,Americas,South America,2563,12173.00,NaN
80,French Southern Territories,TF,ATF,Port-aux-Français,Africa,Southern Africa,140,7747.00,NaN
98,Heard Island and McDonald Islands,HM,HMD,,,,0,412.00,NaN
99,Holy See,VA,VAT,Rome,Europe,Southern Europe,451,0.44,NaN
150,Montserrat,MS,MSR,Plymouth,Americas,Caribbean,4922,102.00,NaN
163,Niue,NU,NIU,Alofi,Oceania,Polynesia,1470,260.00,NaN
164,Norfolk Island,NF,NFK,Kingston,Oceania,Australia and New Zealand,2302,36.00,NaN
177,Pitcairn,PN,PCN,Adamstown,Oceania,Polynesia,56,47.00,NaN
187,Saint Barthélemy,BL,BLM,Gustavia,Americas,Caribbean,9417,21.00,NaN
188,"Saint Helena, Ascension and Tristan da Cunha",SH,SHN,Jamestown,Africa,Western Africa,4255,NaN,NaN
192,Saint Pierre and Miquelon,PM,SPM,Saint-Pierre,Americas,Northern America,6069,242.00,NaN
209,South Georgia and the South Sandwich Islands,GS,SGS,King Edward Point,Americas,South America,30,NaN,NaN
216,Svalbard and Jan Mayen,SJ,SJM,Longyearbyen,Europe,Northern Europe,2562,NaN,NaN
227,Tokelau,TK,TKL,Fakaofo,Oceania,Polynesia,1411,12.00,NaN

Které státy leží v subregionu `"South America"`?

Které státy mají nízký index ekonomické nerovnosti, např. menší než 30?

## Kombinace podmínek
Které státy jsou velké rozlohou (např. víc než 100 000), a mají zároveň malý počet obyvatel (méně než 1 milion)?

Které státy leží v Evropě nebo v Africe?

## Metoda `isin`
Které státy leží v Evropě nebo v Africe?

## Metoda `between`
Které státy mají počet obyvatel mezi jedním a pěti miliony?

## Cvičení
Odkaz na cvičení: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber#excs%3Eceska-jmena-2