# `pandas`: Práce s chybějícími hodnotami, spojování dat
Odkaz na lekci: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/pokrocile-upravy

In [1]:
import pandas

Data jsou tentokrát ve třech tabulkách:
* [u202.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u202.csv)
* [u203.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u203.csv)
* [u302.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u302.csv)

In [3]:
u202 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u202.csv")
u203 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u203.csv")
u302 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u302.csv")

## Chybějící hodnoty

In [ ]:
u202.info()

In [ ]:
u202["znamka"].isna()

In [4]:
u202.dropna(subset=["znamka"])

    cisloStudenta           predmet  znamka den
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st

## Spojení tabulek

In [5]:
jmena = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/jmena.csv")
s1 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/studenti1.csv")
s2 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/studenti2.csv")

In [6]:
pandas.concat([s1, s2])

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
135   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
136    Lukáš          Čech  informatika a management     5.0   NaN      1.59
137   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
138    Ivana    Macháčková        webové inženýrství     1.0   NaN      2.92
139  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[345 rows x 6 columns]